{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid background">
  <a href="{% url 'home' %}" class="nav-link main-logo-link">
    <h2 class="font-weight-light display-2 text-light my-5 text-center">Babushka Bakes</h2>
  </a>
</div>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-5">
        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Shop</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                aria-expanded="false">Dropdown</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
              </div>
            </li>
          </ul>
      </div>
      </div>
    </div>
    
      <div class="col-lg-5">
        <form method="GET" action="" class="d-flex">
          <input class="form-control me-sm-2" type="text" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    
    
      <div class="col-lg-2">
        <ul class="list-inline list-unstyled text-center text-lg-right my-0">
          <li class="list-inline-item dropdown">
            <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <div class="text-center">
                <div><i class="fas fa-user fa-lg"></i></div>
                <p class="my-0">My Account</p>
              </div>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="user-options">
              {% if request.user.is_authenticated %}
              {% if request.user.is_superuser %}
              <a href="" class="dropdown-item">Product Management</a>
              {% endif %}
              <a href="" class="dropdown-item">My Profile</a>
              <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
              {% else %}
              <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
              <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
              {% endif %}
            </div>
          </li>
          <li class="list-inline-item">
            <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="">
              <div class="text-center">
                <div><i class="fas fa-shopping-cart fa-lg"></i></div>
                <p class="my-0">
                  {% if grand_total %}
                  ${{ grand_total|floatformat:2 }}
                  {% else %}
                  $0.00
                  {% endif %}
                </p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>


<div class="container">
<div class="row">
    <div class="col-3 card text-white bg-primary mb-3 my-3 ml-3" style="max-width: 17rem;">
      <div class="card-header">
          <img src="/media/cake.jpg" alt="A picture of a cake" width=100%>
      </div>
      <div class="card-body">
        <h4 class="card-title">Cakes</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="col-3 card text-white bg-secondary mb-3 my-3 ml-3" style="max-width: 17rem;">
      <div class="card-header">
        <img src="/media/cookies.jpg" alt="A picture of cookies" width=100%>
      </div>
      <div class="card-body">
        <h4 class="card-title">Cookies</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="col-3 card text-white bg-primary mb-3 my-3 ml-3" style="max-width: 17rem;">
      <div class="card-header">
        <img src="/media/breads.jpg" alt="A picture of a bread loaf" width=100%>
      </div>
      <div class="card-body">
        <h4 class="card-title">Bread</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="col-3 card text-white bg-secondary mb-3 my-3 ml-3" style="max-width: 17rem;">
      <div class="card-header">
        <img src="/media/donuts.jpg" alt="A picture of donuts" width=100%>
      </div>
      <div class="card-body">
        <h4 class="card-title">Donuts</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}