{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-12 col-md-5 text-center">
        <div>
            <p>
                <a href="{% url 'products' %}" class="btn btn-lg shop-now-button text-black" >View Shop</a> </p>
                <a href="{% url 'contact' %}" class="btn btn-lg contact-us-button text-black" >Place Order</a> </p>
        </div>
        
    </div>
</div>



{% endblock %}