@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');

.background {
    background-image: url('../../media/background.jpg');
    background-size: cover;
    
}

.background h2 {
    font-family: Ceviche One;
}

.row { 
    flex-wrap: nowrap;
}