@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&family=Dancing+Script&family=Mohave:ital,wght@0,400;0,500;0,600;1,700&family=Zen+Kurenaido&display=swap');

html {
    height: 100%;
}

body {
    background: url('/media/hero.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: Mohave;
    
}

icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
    font-family: Mohave;
}

.message-font {
    font-family: Dancing Script;
}
.menu-font {
    text-transform: uppercase;
    font-family: Mohave;
    font-size: 20px;
}

.main-logo-link {
    width: fit-content;
    font-family: Mohave;
}

.shop-now-button {
    background: #f57e87;
    color: white;
    min-width: 200px;
    font-family: Mohave;
    height: max-content;
    
}

.contact-us-button {
    background: #f57e87;
    color: white;
    min-width: 200px;
    font-family: Mohave;
    margin: -150px -30px;
}


.btn-pink {
    background: #f57e87;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: black;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-pink {
    background:#f57e87 !important;
}

.bg-black {
    background:black;
}


.navbar-light {
    background:#f57e87;


}


.dropdown-item:hover {
    background:  #f57e87;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

/*------ Footer ------*/

footer {
    background-color: black;
    color: white;
    min-height: 130px;
    
}

.footer-link {
    text-transform: uppercase;
    display: block;
    color: white;
    padding: .2rem;
}

.footer-link:hover {
    text-decoration: underline;
    color: white;
}

.footer-link-brand {
    text-transform: none;
}

footer p {
    margin-bottom: 0;
}

.footer-row {
    padding-top: 35px;
    margin: 0;
}

.mb-7 {
    margin-bottom: 7px;
}

.footer-social {
    width: 27px;
    display: inline-block;
    font-size: 1.7rem;
}

.social-media {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.footer-social:hover {
    border-bottom: 1px solid var(--color-white);
}

.fa-youtube-square:before,
.fa-pinterest-p:before,
.fa-instagram:before,
.fa-facebook-f:before {
    color: white;
}
/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}}