@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&family=Dancing+Script&family=Mohave:ital,wght@0,400;0,500;0,600;1,700&family=Zen+Kurenaido&display=swap');

:root {
    --mohave-font: "Mohave";
    --title-font-size: 4rem;
    --subtitle-font-size: 2.8rem;
    --heading: 2.2rem;
    --primary-color: #78C2AD;
    --secondary-color: #f57e87;
    --button: 1.8rem;
    --paragraph: 2rem;
}


html {
    height: 100%;
    font-size: 62.5%;
}

body {
    min-height: 100%;
}


body,
body * {
    font-family: var(--mohave-font);
    font-size: 1.6rem;
}



body {
    background: url('https://babushka-bakes.s3.eu-central-1.amazonaws.com/media/hero.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 16.4rem);
    color: #333;
    overflow-x: hidden;

}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.6rem;
}


.btn {
    font-family: var(--mohave-font);
    font-size: var(--button);
}

.address {
    font-size: var(--paragraph);
}


.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 2rem;
    width: 2rem;
}

footer {
    background-color: var(--primary-color);
    color: #fafafafa;
    min-height: 30rem;
    padding: 3rem 10rem 1rem 10rem;
    position: sticky;
    top: 100%;
    margin-top: 20rem;
}

.alert-font {
    text-transform: uppercase;
    font-size: 2.2rem;
}

.logo-font {
    text-transform: uppercase;
    font-size: var(--title-font-size);
    margin-top: 7rem;

}

.message-font {
    font-family: "Dancing Script";
    font-size: var(--subtitle-font-size);
    margin-bottom: 5rem;
    margin-top: 5rem;
    padding: 1rem;

}

.subtitle-font {
    font-size: var(--heading);
    margin-top: 5rem;
    padding: 1rem;
}

.price {
    font-size: 1.8rem;
}

.btn-text {
    font-size: var(--button);
}

.text-muted,
.form-control {
    font-size: 1.5rem;
}

.menu-font {
    text-transform: uppercase;
    font-size: 2.3rem;
    letter-spacing: 0.1rem;
}

.navbar-light .navbar-nav .nav-link {
    color: #fafafa;
    text-shadow: 0.1rem 0.1rem #333;
}

.nav-link:hover,
.nav-link:focus {
    color: #333;
}

.main-logo-link {
    width: fit-content;
}


.shop-now-button {
    background-color: var(--secondary-color);
    color: white;
    min-width: 20rem;
    height: max-content;
    font-size: 2rem;
    font-weight: 500;
    text-shadow: 0.1rem 0.1rem #333;
}

.contact-us-button {
    background-color: var(--primary-color);
    color: white;
    min-width: 20rem;
    height: max-content;
    font-size: 2rem;
    font-weight: 500;
    text-shadow: 0.1rem 0.1rem #333;
}

.btn-outline-black {
    background: white;
    color: #333 !important;
    border: 0.1rem solid #333;
}

.btn-pink {
    background: var(--secondary-color);
    color: #fafafa;
    border-radius: 0.5rem;
    font-size: 1.5rem;
}


.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #333;
    color: #fafafafa;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 0.1rem solid #333 !important;
}

.bg-pink {
    background: var(--secondary-color) !important;
}

.bg-black {
    background: #333;
}


.navbar-light {
    background: var(--secondary-color);
}

.dropdown-item:hover {
    background: var(--secondary-color);
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #fafafa;
    z-index: -1;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* -- Bootstrap Toasts -- */

.message-container {
    position: fixed;
    top: 7.2rem;
    right: 1.5rem;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 0.2rem;
}

.cart-notification-wrapper {
    height: 10rem;
    overflow-x: hidden;
    overflow-y: auto;
}

/*-- Blog Page --*/

.h-rule {
    width: 50%;
}

.card {
    border: 0.3rem solid var(--secondary-color);
    background-color: #fafafafa;
}

.card-img-top {
    padding-top: 1.5rem;
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.card-body {
    flex: 1 1 auto;
    background-color: #fafafafa;
}

.card-footer {
    background-color: #fafafafa;
}

.blog-subtitle {
    font-family: "Dancing Script";
    font-size: var(--subtitle-font-size);
}

.delete {
    color: var(--secondary-color);
}

.post-title {
    font-size: 2.5rem;
}

.post-body p {
    font-size: 1.8rem;
    text-align: justify;
}

.blog-img-size {
    width: 50%;
}

/*-- About Page --*/

.biography {
    font-size: var(--paragraph);
}


.browse {
    font-size: 2rem;

}

.browse:hover {
    text-decoration: none;
}

.responsive {
    width: 100%;
    height: auto;
}

.responsive-img {
    width: 100%;
    height: auto;
}


/*-- Contact Page --*/

.address-container {
    margin-bottom: 8rem;
}

.delivery-txt {
    margin-bottom: 10rem;
    margin-top: 5rem;
}


#address-title {
    color: var(--secondary-color);
}

.contact-img {
    max-width: 100%;
}

/*-- Footer --*/

footer h2 {
    font-size: 3rem;
}

.footer-link {
    text-transform: uppercase;
    display: inline;
    color: white;
    padding: .2rem;
    font-size: 2.2rem;
}

.footer-link:hover {
    text-decoration: underline;
    color: var(--secondary-color);
}

footer p {
    margin-bottom: 0;
    font-size: 1.5rem;
}

.footer-row {
    padding-top: 35px;
    margin: 0;
}

.mb-7 {
    margin-bottom: 7px;
}

.footer-social {
    width: 27px;
    display: inline-block;
    font-size: 1.7rem;
}

.social-media {
    display: inline-block;
    justify-content: space-between;
    margin-top: 15px;
}

.fa-facebook-f:before,
.fa-instagram:before,
.fa-pinterest-p:before,
.fa-youtube-square:before {
    color: var(--secondary-color);
    text-shadow: 1px 1px #333;
    font-size: 2rem;
}

.footer-social:hover {
    border-bottom: 1px solid var(--secondary-color);

}


.login-subtitle {
    margin-top: -100px;
}

.reset {
    background-color: var(--secondary-color) !important;
    border-radius: 5px !important;
    border: none !important;
}


/*-- Allauth form formatting --*/

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    /* mt-4 */
    color: #6c757d;
    /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
    color: #17a2b8;
    /* text-info */
}


/*--Product Form --*/

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}


/* -- Media Queries --*/

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 124px;
    }
}

@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        font-size: 2rem;
    }

    .nav-link p {
        font-size: 1.5rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: 1.5rem;
    }

    .shop-now-button {
        margin-top: 100px;
        font-size: 1.5rem;
        min-width: 15rem;
    }

    .contact-us-button {
        margin-top: 10px;
        font-size: 1.5rem;
        min-width: 15rem;
    }

    .logo-font {
        font-size: 2.5rem;
    }

    .btn {
        font-size: 1.5rem;
    }

    footer {
        min-height: 10rem;
    }

    .footer-link {
        font-size: 1.5rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    .message-font {
        font-size: 2rem;
        margin-bottom: auto;
        margin-top: auto;
    }

    .btn-text {
        font-size: 1.5rem;
    }

    .blog-subtitle {
        font-size: 2.2rem;
    }

    .blog-img-size {
        width: 100%;
    }

    .address {
        padding: 1rem;
        font-size: 1.8rem;
    }

    .logo-font {
        margin-top: 5rem;

    }
    
.message-container {
    position: fixed;
    top: 7.2rem;
    right: 0.5rem;
    z-index: 99999999999;
}
}
