<footer>
    <div id="footer">
        <div class="container-fluid">
            <div class="container">
                <div class="row footer-row">
                    <div class="col-sm-12 col-md-6 col-lg-3 no-padding  mt-2">
                        <p class="footer">Babushka Bakes</p>
                        <p>11 Main Street</p>
                        <p class="mb-7">Rijeka, Croatia</p>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 no-padding">
                        <a href="{% url 'products' %}" class="footer-link">Shop</a>
                        <a href="" class="footer-link">About</a>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 no-padding order-md-3 order-lg-2">
                        <a href="" class="footer-link">Blog</a>
                        <a href="{% url 'contact' %}" class="footer-link mb-15-mob">Contact</a>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 no-padding order-md-4 order-lg-4">
                        <div class="social-media">
                            <div class="footer-social">
                                <a href="https://www.facebook.com" class="some-link" target="_blank">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </div>
                            <div class="footer-social">
                                <a href="https://www.instagram.com" class="some-link" target="_blank">
                                    <i class="fab fa-instagram fa-lg"></i>
                                </a>
                            </div>
                            <div class="footer-social">
                                <a href="https://www.pinterest.com" class="some-link" target="_blank">
                                    <i class="fab fa-pinterest-p"></i>
                                </a>
                            </div>
                            <div class="footer-social">
                                <a href="https://www.youtube.com" class="some-link" target="_blank">
                                    <i class="fab fa-youtube-square"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-line">
                </div>
            </div>
        </div>
    </div>
</footer>