<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <div>
                <a class="menu-font font-weight-bold nav-link  mr-5" href="{% url 'home' %}" id="home-link"
                    aria-haspopup="true" aria-expanded="false">
                    Home
                </a>
            </div>
        </li>
        <li class="nav-item">
            <div>
                <a class="menu-font font-weight-bold nav-link  mr-5" href="{% url 'about' %}" id="about-link"
                    aria-haspopup="true" aria-expanded="false">
                    About
                </a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="menu-font font-weight-bold nav-link mr-5 " href="{% url 'products' %}" id="shop-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="shop-link">
                <a href="{% url 'products' %}?category=Cakes" class="dropdown-item">Cakes</a>
                <a href="{% url 'products' %}?category=Bread" class="dropdown-item ">Bread</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="menu-font font-weight-bold nav-link  mr-5" href="{% url 'blog' %}" id="blog-link"
                aria-haspopup="true" aria-expanded="false">
                Blog
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="menu-font font-weight-bold nav-link  mr-5" href="{% url 'contact' %}" id="contact-link"
                aria-haspopup="true" aria-expanded="false">
                Contact
            </a>
        </li>
    </ul>
</div>