<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="font-size: 1.25rem; color:#333;font-family: Calibri, sans-serif;">
    
    <div>
        <p style="color: #333; font-weight: 400;">
            <i>
                <p>Hello
                    <span style="color: #f57e87;">
                        <strong>Babushka Bakes</strong>
                    </span>,
                </p>
                 {{ message }}
            </i>
        </p>
    </div>
    
    <p>Kind Regards,<br>
        {{ name }}
    </p>
    <p>Please reply to: 
        {{ from_email }}
    </p> 
</body>

</html>